<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>


<section class="aboutus">

    <h1>About BookBound</h1>
<br><br>
<p>

Welcome to BookBound, your ultimate destination for book enthusiasts! Whether you're a voracious reader
or exploring new genres, BookBound offers a treasure trove of book reviews and ratings. Our platform is 
designed to connect readers with insightful critiques, helping you discover your next favorite book with
ease. Join us in celebrating the joy of reading and sharing literary experiences. Dive into the world of 
books with BookBound and embark on a journey of knowledge, imagination, and discovery!

<br> <br>
This was literally copy-pasted from ChatGPT.

</p>

<form class="homebtn" action="/home" method="POST">
    <button type="submit" class="btn btn-primary" style="width: 20%; margin-top: 1vw; background-color: #0e9370;"> Back to Home <i class="fa-solid fa-house-chimney"></i> </button>
</form>

</section>
