<%- include('partials/header.ejs') %>

<section class="bookmark">

    <img src="/images/under_development.png" style="height: 80%; width: 65%;" alt="">
    <form class="homebtn" action="/home" method="POST">
        <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 1vw; background-color: #0e9370;"> Back to Home <i class="fa-solid fa-house-chimney"></i> </button>
    </form>

</section>


